In [31]:
import pandas as pd

In [32]:
test=pd.read_csv("test_koRSKBP.csv")

In [33]:
len(test)

59595

In [34]:
test.columns

Index(['id', 'gender', 'area', 'qualification', 'income', 'marital_status',
       'vintage', 'claim_amount', 'num_policies', 'policy', 'type_of_policy'],
      dtype='object')

In [35]:
train=pd.read_csv("train_BRCpofr.csv")

In [36]:
len(train)

89392

In [37]:
train.columns

Index(['id', 'gender', 'area', 'qualification', 'income', 'marital_status',
       'vintage', 'claim_amount', 'num_policies', 'policy', 'type_of_policy',
       'cltv'],
      dtype='object')

In [38]:
train.head()

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy,cltv
0,1,Male,Urban,Bachelor,5L-10L,1,5,5790,More than 1,A,Platinum,64308
1,2,Male,Rural,High School,5L-10L,0,8,5080,More than 1,A,Platinum,515400
2,3,Male,Urban,Bachelor,5L-10L,1,8,2599,More than 1,A,Platinum,64212
3,4,Female,Rural,High School,5L-10L,0,7,0,More than 1,A,Platinum,97920
4,5,Male,Urban,High School,More than 10L,1,6,3508,More than 1,A,Gold,59736

In [39]:
test.head()

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy
0,89393,Female,Rural,High School,5L-10L,0,6,2134,More than 1,B,Silver
1,89394,Female,Urban,High School,2L-5L,0,4,4102,More than 1,A,Platinum
2,89395,Male,Rural,High School,5L-10L,1,7,2925,More than 1,B,Gold
3,89396,Female,Rural,Bachelor,More than 10L,1,2,0,More than 1,B,Silver
4,89397,Female,Urban,High School,2L-5L,0,5,14059,More than 1,B,Silver

In [40]:
X_train=train.drop(["id","cltv"], axis=1)

In [41]:
X_train.head()

,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy
0,Male,Urban,Bachelor,5L-10L,1,5,5790,More than 1,A,Platinum
1,Male,Rural,High School,5L-10L,0,8,5080,More than 1,A,Platinum
2,Male,Urban,Bachelor,5L-10L,1,8,2599,More than 1,A,Platinum
3,Female,Rural,High School,5L-10L,0,7,0,More than 1,A,Platinum
4,Male,Urban,High School,More than 10L,1,6,3508,More than 1,A,Gold

In [42]:
y_train=train["cltv"]

In [56]:
y_train.head()

0     64308
1    515400
2     64212
3     97920
4     59736
Name: cltv, dtype: int64

In [44]:
X_test=test.drop(["id"], axis=1)

In [45]:
X_train.head()

,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy
0,Male,Urban,Bachelor,5L-10L,1,5,5790,More than 1,A,Platinum
1,Male,Rural,High School,5L-10L,0,8,5080,More than 1,A,Platinum
2,Male,Urban,Bachelor,5L-10L,1,8,2599,More than 1,A,Platinum
3,Female,Rural,High School,5L-10L,0,7,0,More than 1,A,Platinum
4,Male,Urban,High School,More than 10L,1,6,3508,More than 1,A,Gold

In [46]:
 X_train = pd.get_dummies(X_train, columns=['gender','area','qualification', 'income', 'num_policies','policy','type_of_policy'])

In [47]:
X_train.head()

,marital_status,vintage,claim_amount,gender_Female,gender_Male,area_Rural,area_Urban,qualification_Bachelor,qualification_High School,qualification_Others,...,income_<=2L,income_More than 10L,num_policies_1,num_policies_More than 1,policy_A,policy_B,policy_C,type_of_policy_Gold,type_of_policy_Platinum,type_of_policy_Silver
0,1,5,5790,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,1,0
1,0,8,5080,0,1,1,0,0,1,0,...,0,0,0,1,1,0,0,0,1,0
2,1,8,2599,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,1,0
3,0,7,0,1,0,1,0,0,1,0,...,0,0,0,1,1,0,0,0,1,0
4,1,6,3508,0,1,0,1,0,1,0,...,0,1,0,1,1,0,0,1,0,0

In [30]:
#converting all categorical data in numerical variables for train dataset
#X_train["gender"]=pd.get_dummies(X_train['gender'],drop_first=True)
#X_train["area"]=pd.get_dummies(X_train['area'],drop_first=True)
#X_train["qualification"]=pd.get_dummies(X_train['qualification'],drop_first=True)
#X_train["income"]=pd.get_dummies(X_train['income'],drop_first=True)
#X_train["num_policies"]=pd.get_dummies(X_train['num_policies'],drop_first=True)
#X_train["policy"]=pd.get_dummies(X_train['policy'],drop_first=True)
#X_train["type_of_policy"]=pd.get_dummies(X_train['type_of_policy'],drop_first=True)

In [ ]:
X_train.head()

In [ ]:
X_train.isna().sum()

In [ ]:
X_test

In [48]:
 X_test = pd.get_dummies(X_test, columns=['gender','area','qualification', 'income', 'num_policies','policy','type_of_policy'])

In [ ]:
#converting all categorical data in numerical variables for test dataset
#X_test["gender"]=pd.get_dummies(X_test['gender'],drop_first=True)
#X_test["area"]=pd.get_dummies(X_test['area'],drop_first=True)
#X_test["qualification"]=pd.get_dummies(X_test['qualification'],drop_first=True)
#X_test["income"]=pd.get_dummies(X_test['income'],drop_first=True)
#X_test["num_policies"]=pd.get_dummies(X_test['num_policies'],drop_first=True)
#X_test["policy"]=pd.get_dummies(X_test['policy'],drop_first=True)
#X_test["type_of_policy"]=pd.get_dummies(X_test['type_of_policy'],drop_first=True)

In [49]:
X_test.head()

,marital_status,vintage,claim_amount,gender_Female,gender_Male,area_Rural,area_Urban,qualification_Bachelor,qualification_High School,qualification_Others,...,income_<=2L,income_More than 10L,num_policies_1,num_policies_More than 1,policy_A,policy_B,policy_C,type_of_policy_Gold,type_of_policy_Platinum,type_of_policy_Silver
0,0,6,2134,1,0,1,0,0,1,0,...,0,0,0,1,0,1,0,0,0,1
1,0,4,4102,1,0,0,1,0,1,0,...,0,0,0,1,1,0,0,0,1,0
2,1,7,2925,0,1,1,0,0,1,0,...,0,0,0,1,0,1,0,1,0,0
3,1,2,0,1,0,1,0,1,0,0,...,0,1,0,1,0,1,0,0,0,1
4,0,5,14059,1,0,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,1

In [50]:
X_test.isna().sum()

marital_status               0
vintage                      0
claim_amount                 0
gender_Female                0
gender_Male                  0
area_Rural                   0
area_Urban                   0
qualification_Bachelor       0
qualification_High School    0
qualification_Others         0
income_2L-5L                 0
income_5L-10L                0
income_<=2L                  0
income_More than 10L         0
num_policies_1               0
num_policies_More than 1     0
policy_A                     0
policy_B                     0
policy_C                     0
type_of_policy_Gold          0
type_of_policy_Platinum      0
type_of_policy_Silver        0
dtype: int64

#model train

In [51]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestRegressor

In [ ]:
#model = LogisticRegression()
#model.fit(X_train,y_train)
#Unable to allocate 12.5 GiB for an array with shape (89392, 18796) and data type float64

In [ ]:
#model = GaussianNB()
#model.fit(X_train,y_train)
#Unable to allocate 8.35 GiB for an array with shape (18796, 59595) and data type float64

In [67]:

#model=RandomForestRegressor()
model=LogisticRegression()
model.fit(X_train,y_train)

MemoryError: Unable to allocate 12.5 GiB for an array with shape (89392, 18796) and data type float64

In [53]:
predicted_value=model.predict(X_test)

In [54]:
from sklearn.metrics import r2_score

In [59]:
print(len(predicted_value))
print(len(y_train))

59595
89392

In [60]:
y=y_train.head(59595)

In [61]:
len(y)

59595

In [62]:
#Assume 1st parameter is the actual value and 2nd parameter is the predicted values
r2 = r2_score(y, predicted_value)

In [64]:
print(r2)

-0.2940501933294397